<center>
<p><img src="https://mcd.unison.mx/wp-content/themes/awaken/img/logo_mcd.png" width="150">
</p>
    
<h3>Curso Ingeniería de Características</h3>

<h2>Proyecto 1: Descargando datos de la web</h2>

<h4> Alumna: Diana Laura Ballesteros Valenzuela</h4>

<p>
<img src="https://identidadbuho.unison.mx/wp-content/uploads/2019/06/letragrama-cmyk-72.jpg" width="150">
</p>
    
</center>

Importamos librerias necesarias

In [1]:
import os
import urllib.request
import datetime
import pandas as pd 
import zipfile
import wget

c:\users\diana\appdata\local\programs\python\python36\lib\site-packages\numpy\_distributor_init.py:32: UserWarning: loaded more than 1 DLL from .libs:
c:\users\diana\appdata\local\programs\python\python36\lib\site-packages\numpy\.libs\libopenblas.QVLO2T66WEPI7JZ63PS3HMOHFEY472BC.gfortran-win_amd64.dll
c:\users\diana\appdata\local\programs\python\python36\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
  stacklevel=1)

> **¿Que haremos?**

Vamos a decargar archivos del INEGI, especificamente del censo de poblacion y vivienda en el estado de Sonora, de los años
 - 2010
 - 2020
 
directamente desde la pagina, para asi, al final, obtener una serie de datos con el municipio y su respectiva cantidad de poblacion total tanto para el año 2010 como para el 2020. 

**Nota**: el conjunto de datos ya viene con un diccionario de datos

### Descargando datos del año 2010

Visualizando los datos

In [2]:
nombreArchivo= "./DatosCensos/2000.csv"
df2000 = pd.read_csv(nombreArchivo)
df2000.head()

,Año,entidad,nom_ent,mun,nom_mun,loc,nom_loc,longitud,latitud,altitud,...,vp_lavad,vp_telef,vp_boiler,vp_autom,tothog,hogjefm,hogjeff,pobhog,phogjefm,phogjeff
0,2000,26,Sonora,0,Total de la entidad Sonora,0,TOTAL DE LA ENTIDAD,NaN,NaN,NaN,...,309080,223447,241185,263172,535743,425508,110235,2186099,1790239,395860
1,2000,26,Sonora,0,Total de la entidad Sonora,9998,LOCALIDADES DE UNA VIVIENDA,NaN,NaN,NaN,...,787,610,791,1814,4757,4429,328,15189,13964,1225
2,2000,26,Sonora,0,Total de la entidad Sonora,9999,LOCALIDADES DE DOS VIVIENDAS,NaN,NaN,NaN,...,490,317,415,793,2070,1903,167,7305,6754,551
3,2000,26,Sonora,1,Aconchi,0,TOTAL MUNICIPAL,NaN,NaN,NaN,...,277,99,416,264,579,501,78,2399,2115,284
4,2000,26,Sonora,1,Aconchi,1,ACONCHI,1101334.0,294930.0,600.0,...,183,96,282,160,395,338,57,1630,1424,206

Como solo queremos el total de poblacion por municipio, filtraremos todos los renglones que en la columna "nom_loc" tengan el texto "Total del Municipio"

In [3]:
df2000 = df2000[df2000.nom_loc == "TOTAL MUNICIPAL"]

Ahora, nos quedaremos solamente con la columna que queremos --> El nombre del municipio y su respectiva poblacion total

In [4]:
df2000 = pd.DataFrame(df2000, columns=["nom_mun", "pobtot"])
df2000.reset_index(drop=True, inplace=True) #reseteamos index 
df2000.rename({'nom_mun': 'municipio', 'pobtot': '2000'}, axis=1, inplace=True) #cambiamos de nombre las columnas
df2000

                        municipio   2000
0                         Aconchi   2420
1                     Agua Prieta  61944
2                          Alamos  25152
3                           Altar   7253
4                        Arivechi   1484
..                            ...    ...
67                Villa Pesqueira   1590
68                         Yécora   6069
69  General Plutarco Elías Calles  11278
70                  Benito Juárez  21813
71         San Ignacio Río Muerto  13692

[72 rows x 2 columns]

Realizaremos el mismo proceso con los archivos del censo del 2010 y 2020

- 2010

In [5]:
nombreArchivo2= "./DatosCensos/2010.csv"
df2010 = pd.read_csv(nombreArchivo2)
df2010 = df2010[df2010.nom_loc == "Total del Municipio"]
df2010 = pd.DataFrame(df2010, columns=["nom_mun", "pobtot"])
df2010.reset_index(drop=True, inplace=True) #reseteamos index 
df2010.rename({'nom_mun': 'municipio', 'pobtot': '2010'}, axis=1, inplace=True) #cambiamos de nombre las columnas
df2010

                        municipio   2010
0                         Aconchi   2637
1                     Agua Prieta  79138
2                          Alamos  25848
3                           Altar   9049
4                        Arivechi   1253
..                            ...    ...
67                Villa Pesqueira   1254
68                         Yécora   6046
69  General Plutarco Elías Calles  15652
70                  Benito Juárez  22009
71         San Ignacio Río Muerto  14136

[72 rows x 2 columns]

- 2020

In [6]:
nombreArchivo3= "./DatosCensos/2020.csv"
df2020 = pd.read_csv(nombreArchivo3)
df2020 = df2020[df2020.NOM_LOC == "Total del Municipio"]
df2020 = pd.DataFrame(df2020, columns=["NOM_MUN", "POBTOT"])
df2020.reset_index(drop=True, inplace=True) #reseteamos index 
df2020.rename({'NOM_MUN': 'municipio', 'POBTOT': '2020'}, axis=1, inplace=True) #cambiamos de nombre las columnas
df2020

                        municipio   2020
0                         Aconchi   2563
1                     Agua Prieta  91929
2                          Alamos  24976
3                           Altar   9492
4                        Arivechi   1177
..                            ...    ...
67                Villa Pesqueira   1043
68                         Yécora   4793
69  General Plutarco Elías Calles  13627
70                  Benito Juárez  21692
71         San Ignacio Río Muerto  14279

[72 rows x 2 columns]

Combinacion de los datafarames

In [7]:
CensoSonora = pd.merge(df2000, df2010)
CensoSonora = pd.merge(CensoSonora, df2020)
CensoSonora

                        municipio   2000   2010   2020
0                         Aconchi   2420   2637   2563
1                     Agua Prieta  61944  79138  91929
2                          Alamos  25152  25848  24976
3                           Altar   7253   9049   9492
4                        Arivechi   1484   1253   1177
..                            ...    ...    ...    ...
67                Villa Pesqueira   1590   1254   1043
68                         Yécora   6069   6046   4793
69  General Plutarco Elías Calles  11278  15652  13627
70                  Benito Juárez  21813  22009  21692
71         San Ignacio Río Muerto  13692  14136  14279

[72 rows x 4 columns]

Guardamos el datframe en un archivo parquet

In [8]:
CensoSonora.to_parquet('SonoraCenso2000-2020.gzip')

Veamos el tipo de cada columna

In [9]:
CensoSonora.dtypes

municipio    object
2000          int64
2010          int64
2020          int64
dtype: object

Veamos si tenemos datos nulos

In [10]:
CensoSonora.isnull().sum()

municipio    0
2000         0
2010         0
2020         0
dtype: int64

### Datos geograficos

Del dataset anterior, podemos aprovechar los datos del latitud y longitud que tiene, para (en dado caso que queramos) hacer una visualizacion en un mapa, asi que filtraremos por municicpio y por localidad

In [11]:
df2020 = pd.read_csv(nombreArchivo3)
df2020

,Año,ENTIDAD,NOM_ENT,MUN,NOM_MUN,LOC,NOM_LOC,LONGITUD,LATITUD,ALTITUD,...,VPH_CEL,VPH_INTER,VPH_STVP,VPH_SPMVPI,VPH_CVJ,VPH_SINRTV,VPH_SINLTC,VPH_SINCINT,VPH_SINTIC,TAMLOC
0,2020,26,Sonora,0,Total de la entidad Sonora,0,Total de la Entidad,NaN,NaN,NaN,...,811378,530511,501521,210780,126299,32807,48777,302080,11895,*
1,2020,26,Sonora,0,Total de la entidad Sonora,9998,Localidades de una vivienda,NaN,NaN,NaN,...,3776,686,1563,139,92,629,627,3598,261,*
2,2020,26,Sonora,0,Total de la entidad Sonora,9999,Localidades de dos viviendas,NaN,NaN,NaN,...,1322,268,639,44,30,217,222,1206,100,*
3,2020,26,Sonora,1,Aconchi,0,Total del Municipio,NaN,NaN,NaN,...,704,254,613,53,43,35,61,468,18,*
4,2020,26,Sonora,1,Aconchi,1,Aconchi,"110°13'42.787"" W","29°49'33.141"" N",607.0,...,473,193,394,42,34,19,32,290,10,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,2020,26,Sonora,72,San Ignacio Río Muerto,340,Ninguno [José Palma],"110°11'56.440"" W","27°20'44.190"" N",8.0,...,*,*,*,*,*,*,*,*,*,1
7496,2020,26,Sonora,72,San Ignacio Río Muerto,342,Cornelio Saucedo,"110°21'43.366"" W","27°23'25.691"" N",7.0,...,*,*,*,*,*,*,*,*,*,1
7497,2020,26,Sonora,72,San Ignacio Río Muerto,343,Santa Bárbara,"110°12'33.900"" W","27°19'01.253"" N",6.0,...,*,*,*,*,*,*,*,*,*,1
7498,2020,26,Sonora,72,San Ignacio Río Muerto,9998,Localidades de una vivienda,NaN,NaN,NaN,...,85,11,29,2,1,19,15,86,5,*
7499,2020,26,Sonora,72,San Ignacio Río Muerto,9999,Localidades de dos viviendas,NaN,NaN,NaN,...,17,2,4,0,0,6,5,20,4,*

In [12]:
MapaMunicipios = df2020.dropna(subset=['LONGITUD', 'LATITUD'])
MapaMunicipios = pd.DataFrame(MapaMunicipios, columns=["NOM_MUN", "NOM_LOC", "LONGITUD", "LATITUD"])
MapaMunicipios.reset_index(drop=True, inplace=True) #reseteamos index 
MapaMunicipios

,NOM_MUN,NOM_LOC,LONGITUD,LATITUD
0,Aconchi,Aconchi,"110°13'42.787"" W","29°49'33.141"" N"
1,Aconchi,La Estancia,"110°12'40.335"" W","29°47'43.735"" N"
2,Aconchi,Maicobabi,"110°07'43.722"" W","29°48'24.390"" N"
3,Aconchi,El Rodeo (El Rodeo de Aconchi),"110°11'34.231"" W","29°45'42.847"" N"
4,Aconchi,San Pablo (San Pablo de Aconchi),"110°12'00.000"" W","29°46'24.538"" N"
...,...,...,...,...
7295,San Ignacio Río Muerto,"Jesús, María y José [Ramón Granados Valenzuela]","110°13'24.730"" W","27°20'45.560"" N"
7296,San Ignacio Río Muerto,Ninguno [Familia Gambino],"110°15'35.500"" W","27°16'50.900"" N"
7297,San Ignacio Río Muerto,Ninguno [José Palma],"110°11'56.440"" W","27°20'44.190"" N"
7298,San Ignacio Río Muerto,Cornelio Saucedo,"110°21'43.366"" W","27°23'25.691"" N"
7299,San Ignacio Río Muerto,Santa Bárbara,"110°12'33.900"" W","27°19'01.253"" N"

In [13]:
MapaMunicipios.dtypes

NOM_MUN     object
NOM_LOC     object
LONGITUD    object
LATITUD     object
dtype: object

In [14]:
MapaMunicipios.isnull().sum()

NOM_MUN     0
NOM_LOC     0
LONGITUD    0
LATITUD     0
dtype: int64

Guardamos archivo

In [15]:
MapaMunicipios.to_parquet('MapaMunicipios.gzip')

### Unidades económicas por municipios

In [16]:
Leemos el archivo

SyntaxError: invalid syntax (<ipython-input-16-158d0ac03d32>, line 1)

In [ ]:
UnidadesEconomicas= "./Sector-Municipality-Year.csv"
UnidadesEconomicas = pd.read_csv(UnidadesEconomicas)
# UnidadesEconomicas

Veremos cuales columnas tiene y su tipo

In [ ]:
UnidadesEconomicas.dtypes

Veamos si tiene valores nulos

In [ ]:
UnidadesEconomicas.isnull().sum()

Veamos los valores unicos que se manejan en la columna sector (lo convertiremos a un dataframe para la mejor visualizacion de los valores)

In [ ]:
pd.DataFrame(UnidadesEconomicas['Sector'].unique())

In [ ]:
pd.DataFrame(UnidadesEconomicas['Year'].unique())

In [ ]:
UnidadesEconomicas.to_parquet('UnidadesEconomicas.gzip')

### Incidencias 911

Se me hizo interesante ver si el aumento o disminucion tanto de la poblacion como el de las unidades economicas tenia cierta relacion con las indicendias del 911

In [ ]:
incidentes2017 = pd.read_csv("./incidentes/2017.csv")
incidentes2017.rename({'Total': 'Total 2017'}, axis=1, inplace=True) #cambiamos de nombre las columnas
incidentes2018 = pd.read_csv("./incidentes/2018.csv")
incidentes2018.rename({'Total': 'Total 2018'}, axis=1, inplace=True) #cambiamos de nombre las columnas
incidentes2019 = pd.read_csv("./incidentes/2019.csv")
incidentes2020 = pd.read_csv("./incidentes/2020.csv")
incidentes2021 = pd.read_csv("./incidentes/2021.csv")
incidentes2022 = pd.read_csv("./incidentes/2022.csv")

Y listo! Ya tenemos 4 Archivos con los cuales podemos crear un dashboard donde tratremos de ver si hay una relacion entre el numero de unidades economicas en cierto año con su poblacion total, ademas, que me interesó saber si el numero de incidencias que recibe el 911 en ciertos municipios tiene cierta relacion con los otros parametros